<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jet Fans</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/authorization.css" />
    <link rel="stylesheet" th:href="@{/css/authorization.css}" />
  </head>

  <body>
    <div>
      <nav class="navbar navbar-light fixed-top">
        <div class="container-fluid d-flex justify-content-center">
          <p class="navbar-brand me-0" id="logo">Jet Fans</p>
        </div>
      </nav>
    </div>
    <div
      class="container-fluid vh-100 d-flex align-items-center justify-content-center"
    >
      <div id="tab-content">
        <div id="nav-tabs" class="d-flex justify-content-center">
          <ul class="nav nav-pills nav-fill" id="ul-tabs">
            <li class="nav-item mx-2 login-pill">
              <a href="#" class="nav-link active" id="login-tab">Login</a>
            </li>
            <li class="nav-item mx-2">
              <a href="#" class="nav-link" id="register-tab">Register</a>
            </li>
          </ul>
        </div>
        <form
          th:action="@{/user/login}"
          class="form bg-white"
          id="login-form"
          method="post"
        >
          <input type="hidden" name="redirect" th:value="${redirect}" />
          <div id="login-content">
            <div class="d-flex justify-content-center heading mt-4">
              <p class="heading">Welcome Back</p>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control mb-1 email-input"
                id="lg-email-input"
                placeholder="Email"
                name="email"
              />
              <label for="lg-email-input" class="form-label label" id=""
                >Email</label
              >
            </div>

            <div>
              <p class="error-msg d-none ps-3" id="lg-email-error"></p>
            </div>

            <div class="form-floating">
              <input
                type="password"
                name="password"
                id="lg-password-input"
                class="form-control mt-3"
                placeholder="Password"
              />
              <label for="lg-password-input" class="form-label label" id=""
                >Password</label
              >
            </div>

            <div class="ps-3">
              <p class="error-msg d-none" id="lg-password-error"></p>
            </div>

            <div>
              <p
                class="error-msg text-center"
                id="validation-error"
                th:if="${loginError}"
                th:text="${loginError}"
              ></p>
            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn mt-3 submit-btn" id="">
                Submit
              </button>
            </div>
          </div>
        </form>

        <form
          th:action="@{/user/register}"
          class="form bg-white"
          id="register-form"
          method="post"
        >
          <div class="d-none" id="register-content">
            <div class="d-flex justify-content-center mt-4 heading">
              <p class="heading">Create an Account</p>
            </div>

            <div class="row">
              <div class="col-8">
                <div class="form-floating">
                  <input
                    type="text"
                    name="name"
                    id="name-input"
                    class="form-control mb-1"
                    placeholder="Full Name"
                  />
                  <label for="name-input" class="form-label label" id=""
                    >Full Name</label
                  >
                </div>

                <div>
                  <p class="error-msg d-none ps-3 mb-0" id="name-error"></p>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating">
                  <input
                    type="number"
                    name="age"
                    class="form-control mb-1"
                    id="age-input"
                    placeholder="Age"
                  />
                  <label for="age-input" class="form-label label" id=""
                    >Age</label
                  >
                </div>

                <div>
                  <p class="error-msg d-none ps-3 mb-0" id="age-error"></p>
                </div>
              </div>
            </div>
            <div class="form-floating mt-3">
              <input
                type="text"
                name="email"
                id="reg-email-input"
                class="form-control email-input"
                placeholder="Email"
              />
              <label for="reg-email-input" class="form-label label" id=""
                >Email</label
              >
            </div>

            <div>
              <p class="error-msg d-none ps-3" id="reg-email-error"></p>
            </div>
            <div class="row my-3">
              <div class="col-12 col-lg-6">
                <div class="form-floating">
                  <input
                    type="password"
                    name="password"
                    id="reg-password-input"
                    class="form-control"
                    placeholder="Password"
                    required
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
                    title="Password must be at least 8 characters long, include one uppercase, one lowercase, one number, and one special character."
                  />
                  <label for="reg-password-input" class="form-label label" id=""
                    >Password</label
                  >
                </div>
                <div>
                  <p class="error-msg d-none ps-3" id="reg-password-error"></p>
                </div>
              </div>

              <div class="col-12 col-lg-6">
                <div class="form-floating mt-lg-0">
                  <input
                    type="password"
                    name="confirmPassword"
                    id="confirm-password-input"
                    class="form-control"
                    placeholder="Confirm Password"
                  />
                  <label for="confirm-password-input" id="label"
                    >Confirm Password</label
                  >
                </div>
                <div>
                  <p
                    class="error-msg d-none ps-3"
                    id="confirm-password-error"
                  ></p>
                </div>
              </div>
            </div>
            <div>
              <p
                class="error-msg ps-3 text-center"
                id="register-error"
                th:if="${regError}"
                th:text="${regError}"
              ></p>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn submit-btn" id="">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    <script src="../static/js/authorization.js"></script>
    <script th:src="@{/js/authorization.js}"></script>
  </body>
</html>
